{% extends 'main_template.html' %}
{% load static %}
{% block title %}EMS/Profile{% endblock %}
{% block stylelinks %} 
<link rel="stylesheet" href="{% static 'CSS/profile.css' %}"/>
{% endblock %}
{% block content %}
{% if profile %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <input class="col-md-6 form-group form-control" disabled value="{{profile.name}}"/>
        </div>
        <div class="col-md-6">
            <input class="col-md-6 form-group form-control" disabled value="{{profile.email}}"/>
        </div>
    </div>
    <div>
        <h2 class="heads">Bookings</h2>
        {% if bookings %}
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Booking id</th>
                    <th>Event</th>
                    <th>Venue</th>
                    <th>Date</th>
                    <th>Timings</th>
                    <th>No of People</th>
                    <th>Services</th>   
                    <th class="text-center" colspan="2">Actions</th>      
                </tr>
            </thead>
            {% for key,value in bookings.items %} 
            <tr>           
                <td>{{value.book_id}}</td>
                <td>{{value.event_type}}</td>
                <td>{{value.location}}</td>
                <td>{{value.date}}</td>
                <td>{{value.slots}}</td>
                <td>{{value.capacity}}</td>
                <td>{{value.services}}</td>
                <td><button class="btn"><a href="{% url 'edit_booking' value.book_id%}" ><i class="fas fa-edit"></i></a></button></td>
                <td><button class="btn"><a href="{% url 'delete_booking' value.book_id%}" ><i class="fas fa-trash"></i></a></button></td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
    <div>
        <h2 class="heads">Waiting</h2>
        {% if waiting %}
        <ul>
            {% for key,value in bookings %}
            <li>value.event</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
{% endif %}
{% endblock %}